*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-div {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 40px;
  align-items: center;
  border-bottom: 1px solid #494949;

  .image-div {
    display: flex;
    flex-direction: row;
    align-items: center;

    .space-text {
      margin-left: 30px;
    }
  }

  .list-div {
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;

      .list-item {
        margin: 10px;

        .list-nav {
          text-decoration: none;
          color: #068fff;
        }
      }
    }
  }
}
